<div class="item">Content</div>
<div class="item">Content</div>
<div class="item">Content</div>
<h2>chartjs</h2>
<div class="row" *ngIf="!loading" class="item">
  <div class="col-md-6">
    <div style="display: block;">
      <canvas baseChart width="400" height="400" [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"
        id="chart"></canvas>
      <button (click)="export()">Save</button>
      <canvas #canvasEl width=400 height=400></canvas>
    </div>
  </div>
  <div>
    <div class="col-md-6" style="margin-bottom: 10px">
      <table class="table table-responsive table-condensed">
        <tr>
          <th *ngFor="let label of lineChartLabels">{{label}}</th>
        </tr>
        <tr *ngFor="let d of lineChartData">
          <td *ngFor="let label of lineChartLabels; let j=index" style="text-align: right;">{{d && d.data[j] | number}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
